body {
  margin: 0;
  height: 100vh;
  background-color: black;
  overflow: hidden;
display:flex;
justify-content: center;
}

.omg {
  width: 500px;
  height: 500px;
  border: 1px solid white;
  position: relative; /* Required for absolutely positioned children */
  overflow: hidden;    /* Prevent bubbles from spilling out */
}

.bubble {
  position: absolute;
  background: url("./feather.png");
  background-size: cover;
  pointer-events: none;
  animation: animate 7s linear;
  transform: translate(-50%, -50%);
}

@keyframes animate {
  0% {
    transform: rotate(0deg) translate(0%, -50%);
    opacity: 1;
    filter: hue-rotate(0);
  }
  100% {
    transform: rotate(90deg) translate(100%, -5000%);
    opacity: 0;
    filter: hue-rotate(180deg);
  }
}